.no-flight-text {
  margin: auto;
  font-size: 32px;
  font-weight: 700;
}

.flight-list {
  // padding: 50px;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  min-height: 500px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

.lists {
  font-size: 24px;
  line-height: 70px;
  width: 100%;
  text-align: left;
  font-weight: 100;
  font-size: 19px;

&__item{
  padding: 0;
  &:first-child{
    padding-left: 50px;

  }
  &:last-child{
    padding-right: 50px;
  }
}
  thead {
    color: grey;
  }

  &__airline {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__item-logo {
    display: block;
    width: 100px;
    margin-right: 50px;
  }

  &__line {
    position: relative;
    transition: 0.2s;
    &:hover{
      z-index: 1;
      box-shadow: inset -1px 3px 8px 5px #ebebeb, 2px 5px 16px 0px #69696957, 0px 1px 35px 11px rgba(0,0,0,0);
    }
    height: 80px;
    background-color: #fff;

    &:nth-child(odd){
      background-color: #e7efec;

    }

  }

  &__item-terminal {
    display: inline-block;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 46px;
    border-radius: 50px;
    font-weight: 700;

    &_green {
      color: #7dc458;
      border: 2px solid #7dc458;
    }
    
    &_blue {
      color: #53b5e9;
      border: 2px solid #53b5e9;
    }
  }
}

.first-line{
  background-color: #fff;
}

table {
  border-collapse: collapse;
  }