.page-not-found {
  height: 50vh;
  background-image: url(https://iev.aero/images/404.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 -10vh;
  text-align: center;
  font-size: 52px;
  color: #fff;
  letter-spacing: 5px;
  display: flex;
  align-items: center;
  justify-content: center;

  &__text {
    font-size: 70px;
    font-weight: 300;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 0 4px 8px rgb(0 0 0 / 50%);
  }

  &__link-home {
    line-height: 300px;
    text-decoration: none;
    color: #00b6f1;
    border-bottom: 1px solid #00b6f1;
    font-size: 52px;
  }
}

.page-not-found-container {
  text-align: center;
}
