.search-flight {
  min-height: calc(100vh - 109px);
  padding-top: 50px;
  background-color: #e7efec;

  &__title {
    color: rgb(71, 71, 71);
  }
}

.search-flight-container {
  position: relative;
  margin: 0px auto;
  margin-top: 40px;
  max-width: 1366px;
  background-color: #fff;
  min-height: 50%;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;

  &__nav {
    width: 100%;
  }

  &__nav-buttons {
    position: absolute;
    display: inline-block;
    color: #fff;
    width: 55%;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 24px;
    transition: 0.3s;
    border: none;
    cursor: pointer;
    svg {
      height: 30px;
      width: 30px;
    }

    &_departures {
      justify-content: right;
      padding-right: 150px;
      &:disabled{
        background-color: red;
        color: red;
        border: 1px solid red;
      }
      svg {
        margin-right: 20px;
      }
      &:hover {
        border-top-right-radius: 30px;
      }
    }
    
    &_arrivals {
      right: 0;
      svg {
        margin-left: 160px;
        margin-right: 20px;
      }
      &:hover {
        border-top-left-radius: 30px;
      }
    }
  }
}
